/*
traQ v3

traQ v3 API

API version: 3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package traq

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

// Oauth2ApiService Oauth2Api service
type Oauth2ApiService service

type Oauth2ApiApiCreateClientRequest struct {
	ctx               context.Context
	ApiService        *Oauth2ApiService
	postClientRequest *PostClientRequest
}

func (r Oauth2ApiApiCreateClientRequest) PostClientRequest(postClientRequest PostClientRequest) Oauth2ApiApiCreateClientRequest {
	r.postClientRequest = &postClientRequest
	return r
}

func (r Oauth2ApiApiCreateClientRequest) Execute() (*OAuth2ClientDetail, *http.Response, error) {
	return r.ApiService.CreateClientExecute(r)
}

/*
CreateClient OAuth2クライアントを作成

OAuth2クライアントを作成します。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiCreateClientRequest
*/
func (a *Oauth2ApiService) CreateClient(ctx context.Context) Oauth2ApiApiCreateClientRequest {
	return Oauth2ApiApiCreateClientRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return OAuth2ClientDetail
func (a *Oauth2ApiService) CreateClientExecute(r Oauth2ApiApiCreateClientRequest) (*OAuth2ClientDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OAuth2ClientDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.CreateClient")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postClientRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2ApiApiDeleteClientRequest struct {
	ctx        context.Context
	ApiService *Oauth2ApiService
	clientId   string
}

func (r Oauth2ApiApiDeleteClientRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteClientExecute(r)
}

/*
DeleteClient OAuth2クライアントを削除

指定したOAuth2クライアントを削除します。
対象のクライアントの管理権限が必要です。正常に削除された場合、このクライアントに対する認可は全て取り消されます。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientId OAuth2クライアントUUID
 @return Oauth2ApiApiDeleteClientRequest
*/
func (a *Oauth2ApiService) DeleteClient(ctx context.Context, clientId string) Oauth2ApiApiDeleteClientRequest {
	return Oauth2ApiApiDeleteClientRequest{
		ApiService: a,
		ctx:        ctx,
		clientId:   clientId,
	}
}

// Execute executes the request
func (a *Oauth2ApiService) DeleteClientExecute(r Oauth2ApiApiDeleteClientRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.DeleteClient")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients/{clientId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientId"+"}", url.PathEscape(parameterToString(r.clientId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2ApiApiEditClientRequest struct {
	ctx                context.Context
	ApiService         *Oauth2ApiService
	clientId           string
	patchClientRequest *PatchClientRequest
}

func (r Oauth2ApiApiEditClientRequest) PatchClientRequest(patchClientRequest PatchClientRequest) Oauth2ApiApiEditClientRequest {
	r.patchClientRequest = &patchClientRequest
	return r
}

func (r Oauth2ApiApiEditClientRequest) Execute() (*http.Response, error) {
	return r.ApiService.EditClientExecute(r)
}

/*
EditClient OAuth2クライアント情報を変更

指定したOAuth2クライアントの情報を変更します。
対象のクライアントの管理権限が必要です。
クライアント開発者UUIDを変更した場合は、変更先ユーザーにクライアント管理権限が移譲され、自分自身は権限を失います。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientId OAuth2クライアントUUID
 @return Oauth2ApiApiEditClientRequest
*/
func (a *Oauth2ApiService) EditClient(ctx context.Context, clientId string) Oauth2ApiApiEditClientRequest {
	return Oauth2ApiApiEditClientRequest{
		ApiService: a,
		ctx:        ctx,
		clientId:   clientId,
	}
}

// Execute executes the request
func (a *Oauth2ApiService) EditClientExecute(r Oauth2ApiApiEditClientRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.EditClient")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients/{clientId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientId"+"}", url.PathEscape(parameterToString(r.clientId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchClientRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2ApiApiGetClientRequest struct {
	ctx        context.Context
	ApiService *Oauth2ApiService
	clientId   string
	detail     *bool
}

// 詳細情報を含めるかどうか
func (r Oauth2ApiApiGetClientRequest) Detail(detail bool) Oauth2ApiApiGetClientRequest {
	r.detail = &detail
	return r
}

func (r Oauth2ApiApiGetClientRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetClientExecute(r)
}

/*
GetClient OAuth2クライアント情報を取得

指定したOAuth2クライアントの情報を取得します。
詳細情報の取得には対象のクライアントの管理権限が必要です。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param clientId OAuth2クライアントUUID
 @return Oauth2ApiApiGetClientRequest
*/
func (a *Oauth2ApiService) GetClient(ctx context.Context, clientId string) Oauth2ApiApiGetClientRequest {
	return Oauth2ApiApiGetClientRequest{
		ApiService: a,
		ctx:        ctx,
		clientId:   clientId,
	}
}

// Execute executes the request
//  @return OneOf: OAuth2Client, OAuth2ClientDetail
func (a *Oauth2ApiService) GetClientExecute(r Oauth2ApiApiGetClientRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.GetClient")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients/{clientId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientId"+"}", url.PathEscape(parameterToString(r.clientId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.detail != nil {
		localVarQueryParams.Add("detail", parameterToString(*r.detail, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2ApiApiGetClientsRequest struct {
	ctx        context.Context
	ApiService *Oauth2ApiService
	all        *bool
}

// 全てのクライアントを取得するかどうか
func (r Oauth2ApiApiGetClientsRequest) All(all bool) Oauth2ApiApiGetClientsRequest {
	r.all = &all
	return r
}

func (r Oauth2ApiApiGetClientsRequest) Execute() ([]OAuth2Client, *http.Response, error) {
	return r.ApiService.GetClientsExecute(r)
}

/*
GetClients OAuth2クライアントのリストを取得

自身が開発者のOAuth2クライアントのリストを取得します。
`all`が`true`の場合、全開発者の全クライアントのリストを返します。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiGetClientsRequest
*/
func (a *Oauth2ApiService) GetClients(ctx context.Context) Oauth2ApiApiGetClientsRequest {
	return Oauth2ApiApiGetClientsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return []OAuth2Client
func (a *Oauth2ApiService) GetClientsExecute(r Oauth2ApiApiGetClientsRequest) ([]OAuth2Client, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OAuth2Client
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.GetClients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.all != nil {
		localVarQueryParams.Add("all", parameterToString(*r.all, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2ApiApiGetMyTokensRequest struct {
	ctx        context.Context
	ApiService *Oauth2ApiService
}

func (r Oauth2ApiApiGetMyTokensRequest) Execute() ([]ActiveOAuth2Token, *http.Response, error) {
	return r.ApiService.GetMyTokensExecute(r)
}

/*
GetMyTokens 有効トークンのリストを取得

有効な自分に発行されたOAuth2トークンのリストを取得します。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiGetMyTokensRequest
*/
func (a *Oauth2ApiService) GetMyTokens(ctx context.Context) Oauth2ApiApiGetMyTokensRequest {
	return Oauth2ApiApiGetMyTokensRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return []ActiveOAuth2Token
func (a *Oauth2ApiService) GetMyTokensExecute(r Oauth2ApiApiGetMyTokensRequest) ([]ActiveOAuth2Token, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ActiveOAuth2Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.GetMyTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/me/tokens"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2ApiApiGetOAuth2AuthorizeRequest struct {
	ctx                 context.Context
	ApiService          *Oauth2ApiService
	clientId            *string
	responseType        *OAuth2ResponseType
	redirectUri         *string
	scope               *string
	state               *string
	codeChallenge       *string
	codeChallengeMethod *string
	nonce               *string
	prompt              *OAuth2Prompt
}

func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) ClientId(clientId string) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.clientId = &clientId
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) ResponseType(responseType OAuth2ResponseType) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.responseType = &responseType
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) RedirectUri(redirectUri string) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.redirectUri = &redirectUri
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) Scope(scope string) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.scope = &scope
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) State(state string) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.state = &state
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) CodeChallenge(codeChallenge string) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.codeChallenge = &codeChallenge
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) CodeChallengeMethod(codeChallengeMethod string) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.codeChallengeMethod = &codeChallengeMethod
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) Nonce(nonce string) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.nonce = &nonce
	return r
}
func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) Prompt(prompt OAuth2Prompt) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	r.prompt = &prompt
	return r
}

func (r Oauth2ApiApiGetOAuth2AuthorizeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetOAuth2AuthorizeExecute(r)
}

/*
GetOAuth2Authorize OAuth2 認可エンドポイント

OAuth2 認可エンドポイント

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiGetOAuth2AuthorizeRequest
*/
func (a *Oauth2ApiService) GetOAuth2Authorize(ctx context.Context) Oauth2ApiApiGetOAuth2AuthorizeRequest {
	return Oauth2ApiApiGetOAuth2AuthorizeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2ApiService) GetOAuth2AuthorizeExecute(r Oauth2ApiApiGetOAuth2AuthorizeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.GetOAuth2Authorize")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/authorize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return nil, reportError("clientId is required and must be specified")
	}

	if r.responseType != nil {
		localVarQueryParams.Add("response_type", parameterToString(*r.responseType, ""))
	}
	localVarQueryParams.Add("client_id", parameterToString(*r.clientId, ""))
	if r.redirectUri != nil {
		localVarQueryParams.Add("redirect_uri", parameterToString(*r.redirectUri, ""))
	}
	if r.scope != nil {
		localVarQueryParams.Add("scope", parameterToString(*r.scope, ""))
	}
	if r.state != nil {
		localVarQueryParams.Add("state", parameterToString(*r.state, ""))
	}
	if r.codeChallenge != nil {
		localVarQueryParams.Add("code_challenge", parameterToString(*r.codeChallenge, ""))
	}
	if r.codeChallengeMethod != nil {
		localVarQueryParams.Add("code_challenge_method", parameterToString(*r.codeChallengeMethod, ""))
	}
	if r.nonce != nil {
		localVarQueryParams.Add("nonce", parameterToString(*r.nonce, ""))
	}
	if r.prompt != nil {
		localVarQueryParams.Add("prompt", parameterToString(*r.prompt, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2ApiApiPostOAuth2AuthorizeRequest struct {
	ctx                 context.Context
	ApiService          *Oauth2ApiService
	clientId            *string
	responseType        *OAuth2ResponseType
	redirectUri         *string
	scope               *string
	state               *string
	codeChallenge       *string
	codeChallengeMethod *string
	nonce               *string
	prompt              *OAuth2Prompt
}

func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) ClientId(clientId string) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.clientId = &clientId
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) ResponseType(responseType OAuth2ResponseType) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.responseType = &responseType
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) RedirectUri(redirectUri string) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.redirectUri = &redirectUri
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) Scope(scope string) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.scope = &scope
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) State(state string) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.state = &state
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) CodeChallenge(codeChallenge string) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.codeChallenge = &codeChallenge
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) CodeChallengeMethod(codeChallengeMethod string) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.codeChallengeMethod = &codeChallengeMethod
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) Nonce(nonce string) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.nonce = &nonce
	return r
}
func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) Prompt(prompt OAuth2Prompt) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	r.prompt = &prompt
	return r
}

func (r Oauth2ApiApiPostOAuth2AuthorizeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostOAuth2AuthorizeExecute(r)
}

/*
PostOAuth2Authorize OAuth2 認可エンドポイント

OAuth2 認可エンドポイント

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiPostOAuth2AuthorizeRequest
*/
func (a *Oauth2ApiService) PostOAuth2Authorize(ctx context.Context) Oauth2ApiApiPostOAuth2AuthorizeRequest {
	return Oauth2ApiApiPostOAuth2AuthorizeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2ApiService) PostOAuth2AuthorizeExecute(r Oauth2ApiApiPostOAuth2AuthorizeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.PostOAuth2Authorize")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/authorize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return nil, reportError("clientId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.responseType != nil {
		localVarFormParams.Add("response_type", parameterToString(*r.responseType, ""))
	}
	localVarFormParams.Add("client_id", parameterToString(*r.clientId, ""))
	if r.redirectUri != nil {
		localVarFormParams.Add("redirect_uri", parameterToString(*r.redirectUri, ""))
	}
	if r.scope != nil {
		localVarFormParams.Add("scope", parameterToString(*r.scope, ""))
	}
	if r.state != nil {
		localVarFormParams.Add("state", parameterToString(*r.state, ""))
	}
	if r.codeChallenge != nil {
		localVarFormParams.Add("code_challenge", parameterToString(*r.codeChallenge, ""))
	}
	if r.codeChallengeMethod != nil {
		localVarFormParams.Add("code_challenge_method", parameterToString(*r.codeChallengeMethod, ""))
	}
	if r.nonce != nil {
		localVarFormParams.Add("nonce", parameterToString(*r.nonce, ""))
	}
	if r.prompt != nil {
		localVarFormParams.Add("prompt", parameterToString(*r.prompt, ""))
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2ApiApiPostOAuth2AuthorizeDecideRequest struct {
	ctx        context.Context
	ApiService *Oauth2ApiService
	submit     *string
}

// 承諾する場合は\\\&quot;approve\\\&quot;
func (r Oauth2ApiApiPostOAuth2AuthorizeDecideRequest) Submit(submit string) Oauth2ApiApiPostOAuth2AuthorizeDecideRequest {
	r.submit = &submit
	return r
}

func (r Oauth2ApiApiPostOAuth2AuthorizeDecideRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostOAuth2AuthorizeDecideExecute(r)
}

/*
PostOAuth2AuthorizeDecide OAuth2 認可承諾API

OAuth2 認可承諾

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiPostOAuth2AuthorizeDecideRequest
*/
func (a *Oauth2ApiService) PostOAuth2AuthorizeDecide(ctx context.Context) Oauth2ApiApiPostOAuth2AuthorizeDecideRequest {
	return Oauth2ApiApiPostOAuth2AuthorizeDecideRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2ApiService) PostOAuth2AuthorizeDecideExecute(r Oauth2ApiApiPostOAuth2AuthorizeDecideRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.PostOAuth2AuthorizeDecide")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/authorize/decide"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.submit == nil {
		return nil, reportError("submit is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarFormParams.Add("submit", parameterToString(*r.submit, ""))
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2ApiApiPostOAuth2TokenRequest struct {
	ctx          context.Context
	ApiService   *Oauth2ApiService
	grantType    *string
	code         *string
	redirectUri  *string
	clientId     *string
	codeVerifier *string
	username     *string
	password     *string
	scope        *string
	refreshToken *string
	clientSecret *string
}

func (r Oauth2ApiApiPostOAuth2TokenRequest) GrantType(grantType string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.grantType = &grantType
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) Code(code string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.code = &code
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) RedirectUri(redirectUri string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.redirectUri = &redirectUri
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) ClientId(clientId string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.clientId = &clientId
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) CodeVerifier(codeVerifier string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.codeVerifier = &codeVerifier
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) Username(username string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.username = &username
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) Password(password string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.password = &password
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) Scope(scope string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.scope = &scope
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) RefreshToken(refreshToken string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.refreshToken = &refreshToken
	return r
}
func (r Oauth2ApiApiPostOAuth2TokenRequest) ClientSecret(clientSecret string) Oauth2ApiApiPostOAuth2TokenRequest {
	r.clientSecret = &clientSecret
	return r
}

func (r Oauth2ApiApiPostOAuth2TokenRequest) Execute() (*OAuth2Token, *http.Response, error) {
	return r.ApiService.PostOAuth2TokenExecute(r)
}

/*
PostOAuth2Token OAuth2 トークンエンドポイント

OAuth2 トークンエンドポイント

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiPostOAuth2TokenRequest
*/
func (a *Oauth2ApiService) PostOAuth2Token(ctx context.Context) Oauth2ApiApiPostOAuth2TokenRequest {
	return Oauth2ApiApiPostOAuth2TokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return OAuth2Token
func (a *Oauth2ApiService) PostOAuth2TokenExecute(r Oauth2ApiApiPostOAuth2TokenRequest) (*OAuth2Token, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OAuth2Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.PostOAuth2Token")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.grantType == nil {
		return localVarReturnValue, nil, reportError("grantType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarFormParams.Add("grant_type", parameterToString(*r.grantType, ""))
	if r.code != nil {
		localVarFormParams.Add("code", parameterToString(*r.code, ""))
	}
	if r.redirectUri != nil {
		localVarFormParams.Add("redirect_uri", parameterToString(*r.redirectUri, ""))
	}
	if r.clientId != nil {
		localVarFormParams.Add("client_id", parameterToString(*r.clientId, ""))
	}
	if r.codeVerifier != nil {
		localVarFormParams.Add("code_verifier", parameterToString(*r.codeVerifier, ""))
	}
	if r.username != nil {
		localVarFormParams.Add("username", parameterToString(*r.username, ""))
	}
	if r.password != nil {
		localVarFormParams.Add("password", parameterToString(*r.password, ""))
	}
	if r.scope != nil {
		localVarFormParams.Add("scope", parameterToString(*r.scope, ""))
	}
	if r.refreshToken != nil {
		localVarFormParams.Add("refresh_token", parameterToString(*r.refreshToken, ""))
	}
	if r.clientSecret != nil {
		localVarFormParams.Add("client_secret", parameterToString(*r.clientSecret, ""))
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2ApiApiRevokeMyTokenRequest struct {
	ctx        context.Context
	ApiService *Oauth2ApiService
	tokenId    string
}

func (r Oauth2ApiApiRevokeMyTokenRequest) Execute() (*http.Response, error) {
	return r.ApiService.RevokeMyTokenExecute(r)
}

/*
RevokeMyToken トークンの認可を取り消す

自分の指定したトークンの認可を取り消します。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tokenId OAuth2トークンUUID
 @return Oauth2ApiApiRevokeMyTokenRequest
*/
func (a *Oauth2ApiService) RevokeMyToken(ctx context.Context, tokenId string) Oauth2ApiApiRevokeMyTokenRequest {
	return Oauth2ApiApiRevokeMyTokenRequest{
		ApiService: a,
		ctx:        ctx,
		tokenId:    tokenId,
	}
}

// Execute executes the request
func (a *Oauth2ApiService) RevokeMyTokenExecute(r Oauth2ApiApiRevokeMyTokenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.RevokeMyToken")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/me/tokens/{tokenId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenId"+"}", url.PathEscape(parameterToString(r.tokenId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2ApiApiRevokeOAuth2TokenRequest struct {
	ctx        context.Context
	ApiService *Oauth2ApiService
	token      *string
}

// 無効化するOAuth2トークンまたはOAuth2リフレッシュトークン
func (r Oauth2ApiApiRevokeOAuth2TokenRequest) Token(token string) Oauth2ApiApiRevokeOAuth2TokenRequest {
	r.token = &token
	return r
}

func (r Oauth2ApiApiRevokeOAuth2TokenRequest) Execute() (*http.Response, error) {
	return r.ApiService.RevokeOAuth2TokenExecute(r)
}

/*
RevokeOAuth2Token OAuth2 トークン無効化エンドポイント

OAuth2 トークン無効化エンドポイント

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return Oauth2ApiApiRevokeOAuth2TokenRequest
*/
func (a *Oauth2ApiService) RevokeOAuth2Token(ctx context.Context) Oauth2ApiApiRevokeOAuth2TokenRequest {
	return Oauth2ApiApiRevokeOAuth2TokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2ApiService) RevokeOAuth2TokenExecute(r Oauth2ApiApiRevokeOAuth2TokenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2ApiService.RevokeOAuth2Token")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/revoke"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.token == nil {
		return nil, reportError("token is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarFormParams.Add("token", parameterToString(*r.token, ""))
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
