/*
traQ v3

traQ v3 API

API version: 3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package traq

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// Oauth2APIService Oauth2API service
type Oauth2APIService service

type Oauth2APICreateClientRequest struct {
	ctx               context.Context
	ApiService        *Oauth2APIService
	postClientRequest *PostClientRequest
}

func (r Oauth2APICreateClientRequest) PostClientRequest(postClientRequest PostClientRequest) Oauth2APICreateClientRequest {
	r.postClientRequest = &postClientRequest
	return r
}

func (r Oauth2APICreateClientRequest) Execute() (*OAuth2ClientDetail, *http.Response, error) {
	return r.ApiService.CreateClientExecute(r)
}

/*
CreateClient OAuth2クライアントを作成

OAuth2クライアントを作成します。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APICreateClientRequest
*/
func (a *Oauth2APIService) CreateClient(ctx context.Context) Oauth2APICreateClientRequest {
	return Oauth2APICreateClientRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OAuth2ClientDetail
func (a *Oauth2APIService) CreateClientExecute(r Oauth2APICreateClientRequest) (*OAuth2ClientDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OAuth2ClientDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.CreateClient")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postClientRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2APIDeleteClientRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
	clientId   string
}

func (r Oauth2APIDeleteClientRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteClientExecute(r)
}

/*
DeleteClient OAuth2クライアントを削除

指定したOAuth2クライアントを削除します。
対象のクライアントの管理権限が必要です。正常に削除された場合、このクライアントに対する認可は全て取り消されます。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clientId OAuth2クライアントUUID
	@return Oauth2APIDeleteClientRequest
*/
func (a *Oauth2APIService) DeleteClient(ctx context.Context, clientId string) Oauth2APIDeleteClientRequest {
	return Oauth2APIDeleteClientRequest{
		ApiService: a,
		ctx:        ctx,
		clientId:   clientId,
	}
}

// Execute executes the request
func (a *Oauth2APIService) DeleteClientExecute(r Oauth2APIDeleteClientRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.DeleteClient")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients/{clientId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientId"+"}", url.PathEscape(parameterValueToString(r.clientId, "clientId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2APIEditClientRequest struct {
	ctx                context.Context
	ApiService         *Oauth2APIService
	clientId           string
	patchClientRequest *PatchClientRequest
}

func (r Oauth2APIEditClientRequest) PatchClientRequest(patchClientRequest PatchClientRequest) Oauth2APIEditClientRequest {
	r.patchClientRequest = &patchClientRequest
	return r
}

func (r Oauth2APIEditClientRequest) Execute() (*http.Response, error) {
	return r.ApiService.EditClientExecute(r)
}

/*
EditClient OAuth2クライアント情報を変更

指定したOAuth2クライアントの情報を変更します。
対象のクライアントの管理権限が必要です。
クライアント開発者UUIDを変更した場合は、変更先ユーザーにクライアント管理権限が移譲され、自分自身は権限を失います。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clientId OAuth2クライアントUUID
	@return Oauth2APIEditClientRequest
*/
func (a *Oauth2APIService) EditClient(ctx context.Context, clientId string) Oauth2APIEditClientRequest {
	return Oauth2APIEditClientRequest{
		ApiService: a,
		ctx:        ctx,
		clientId:   clientId,
	}
}

// Execute executes the request
func (a *Oauth2APIService) EditClientExecute(r Oauth2APIEditClientRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.EditClient")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients/{clientId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientId"+"}", url.PathEscape(parameterValueToString(r.clientId, "clientId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchClientRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2APIGetClientRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
	clientId   string
	detail     *bool
}

// 詳細情報を含めるかどうか
func (r Oauth2APIGetClientRequest) Detail(detail bool) Oauth2APIGetClientRequest {
	r.detail = &detail
	return r
}

func (r Oauth2APIGetClientRequest) Execute() (*GetClient200Response, *http.Response, error) {
	return r.ApiService.GetClientExecute(r)
}

/*
GetClient OAuth2クライアント情報を取得

指定したOAuth2クライアントの情報を取得します。
詳細情報の取得には対象のクライアントの管理権限が必要です。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clientId OAuth2クライアントUUID
	@return Oauth2APIGetClientRequest
*/
func (a *Oauth2APIService) GetClient(ctx context.Context, clientId string) Oauth2APIGetClientRequest {
	return Oauth2APIGetClientRequest{
		ApiService: a,
		ctx:        ctx,
		clientId:   clientId,
	}
}

// Execute executes the request
//
//	@return GetClient200Response
func (a *Oauth2APIService) GetClientExecute(r Oauth2APIGetClientRequest) (*GetClient200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetClient200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.GetClient")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients/{clientId}"
	localVarPath = strings.Replace(localVarPath, "{"+"clientId"+"}", url.PathEscape(parameterValueToString(r.clientId, "clientId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.detail != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "detail", r.detail, "form", "")
	} else {
		var defaultValue bool = false
		r.detail = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2APIGetClientsRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
	all        *bool
}

// 全てのクライアントを取得するかどうか
func (r Oauth2APIGetClientsRequest) All(all bool) Oauth2APIGetClientsRequest {
	r.all = &all
	return r
}

func (r Oauth2APIGetClientsRequest) Execute() ([]OAuth2Client, *http.Response, error) {
	return r.ApiService.GetClientsExecute(r)
}

/*
GetClients OAuth2クライアントのリストを取得

自身が開発者のOAuth2クライアントのリストを取得します。
`all`が`true`の場合、全開発者の全クライアントのリストを返します。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APIGetClientsRequest
*/
func (a *Oauth2APIService) GetClients(ctx context.Context) Oauth2APIGetClientsRequest {
	return Oauth2APIGetClientsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []OAuth2Client
func (a *Oauth2APIService) GetClientsExecute(r Oauth2APIGetClientsRequest) ([]OAuth2Client, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OAuth2Client
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.GetClients")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.all != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "all", r.all, "form", "")
	} else {
		var defaultValue bool = false
		r.all = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2APIGetMyTokensRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
}

func (r Oauth2APIGetMyTokensRequest) Execute() ([]ActiveOAuth2Token, *http.Response, error) {
	return r.ApiService.GetMyTokensExecute(r)
}

/*
GetMyTokens 有効トークンのリストを取得

有効な自分に発行されたOAuth2トークンのリストを取得します。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APIGetMyTokensRequest
*/
func (a *Oauth2APIService) GetMyTokens(ctx context.Context) Oauth2APIGetMyTokensRequest {
	return Oauth2APIGetMyTokensRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ActiveOAuth2Token
func (a *Oauth2APIService) GetMyTokensExecute(r Oauth2APIGetMyTokensRequest) ([]ActiveOAuth2Token, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ActiveOAuth2Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.GetMyTokens")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/me/tokens"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2APIGetOAuth2AuthorizeRequest struct {
	ctx                 context.Context
	ApiService          *Oauth2APIService
	clientId            *string
	responseType        *OAuth2ResponseType
	redirectUri         *string
	scope               *string
	state               *string
	codeChallenge       *string
	codeChallengeMethod *string
	nonce               *string
	prompt              *OAuth2Prompt
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) ClientId(clientId string) Oauth2APIGetOAuth2AuthorizeRequest {
	r.clientId = &clientId
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) ResponseType(responseType OAuth2ResponseType) Oauth2APIGetOAuth2AuthorizeRequest {
	r.responseType = &responseType
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) RedirectUri(redirectUri string) Oauth2APIGetOAuth2AuthorizeRequest {
	r.redirectUri = &redirectUri
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) Scope(scope string) Oauth2APIGetOAuth2AuthorizeRequest {
	r.scope = &scope
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) State(state string) Oauth2APIGetOAuth2AuthorizeRequest {
	r.state = &state
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) CodeChallenge(codeChallenge string) Oauth2APIGetOAuth2AuthorizeRequest {
	r.codeChallenge = &codeChallenge
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) CodeChallengeMethod(codeChallengeMethod string) Oauth2APIGetOAuth2AuthorizeRequest {
	r.codeChallengeMethod = &codeChallengeMethod
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) Nonce(nonce string) Oauth2APIGetOAuth2AuthorizeRequest {
	r.nonce = &nonce
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) Prompt(prompt OAuth2Prompt) Oauth2APIGetOAuth2AuthorizeRequest {
	r.prompt = &prompt
	return r
}

func (r Oauth2APIGetOAuth2AuthorizeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetOAuth2AuthorizeExecute(r)
}

/*
GetOAuth2Authorize OAuth2 認可エンドポイント

OAuth2 認可エンドポイント

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APIGetOAuth2AuthorizeRequest
*/
func (a *Oauth2APIService) GetOAuth2Authorize(ctx context.Context) Oauth2APIGetOAuth2AuthorizeRequest {
	return Oauth2APIGetOAuth2AuthorizeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2APIService) GetOAuth2AuthorizeExecute(r Oauth2APIGetOAuth2AuthorizeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.GetOAuth2Authorize")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/authorize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return nil, reportError("clientId is required and must be specified")
	}

	if r.responseType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_type", r.responseType, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "client_id", r.clientId, "form", "")
	if r.redirectUri != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "redirect_uri", r.redirectUri, "form", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.codeChallenge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge", r.codeChallenge, "form", "")
	}
	if r.codeChallengeMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge_method", r.codeChallengeMethod, "form", "")
	}
	if r.nonce != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nonce", r.nonce, "form", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2APIPostOAuth2AuthorizeRequest struct {
	ctx                 context.Context
	ApiService          *Oauth2APIService
	clientId            *string
	responseType        *OAuth2ResponseType
	redirectUri         *string
	scope               *string
	state               *string
	codeChallenge       *string
	codeChallengeMethod *string
	nonce               *string
	prompt              *OAuth2Prompt
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) ClientId(clientId string) Oauth2APIPostOAuth2AuthorizeRequest {
	r.clientId = &clientId
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) ResponseType(responseType OAuth2ResponseType) Oauth2APIPostOAuth2AuthorizeRequest {
	r.responseType = &responseType
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) RedirectUri(redirectUri string) Oauth2APIPostOAuth2AuthorizeRequest {
	r.redirectUri = &redirectUri
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) Scope(scope string) Oauth2APIPostOAuth2AuthorizeRequest {
	r.scope = &scope
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) State(state string) Oauth2APIPostOAuth2AuthorizeRequest {
	r.state = &state
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) CodeChallenge(codeChallenge string) Oauth2APIPostOAuth2AuthorizeRequest {
	r.codeChallenge = &codeChallenge
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) CodeChallengeMethod(codeChallengeMethod string) Oauth2APIPostOAuth2AuthorizeRequest {
	r.codeChallengeMethod = &codeChallengeMethod
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) Nonce(nonce string) Oauth2APIPostOAuth2AuthorizeRequest {
	r.nonce = &nonce
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) Prompt(prompt OAuth2Prompt) Oauth2APIPostOAuth2AuthorizeRequest {
	r.prompt = &prompt
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostOAuth2AuthorizeExecute(r)
}

/*
PostOAuth2Authorize OAuth2 認可エンドポイント

OAuth2 認可エンドポイント

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APIPostOAuth2AuthorizeRequest
*/
func (a *Oauth2APIService) PostOAuth2Authorize(ctx context.Context) Oauth2APIPostOAuth2AuthorizeRequest {
	return Oauth2APIPostOAuth2AuthorizeRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2APIService) PostOAuth2AuthorizeExecute(r Oauth2APIPostOAuth2AuthorizeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.PostOAuth2Authorize")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/authorize"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return nil, reportError("clientId is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.responseType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "response_type", r.responseType, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "client_id", r.clientId, "", "")
	if r.redirectUri != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "redirect_uri", r.redirectUri, "", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "scope", r.scope, "", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "state", r.state, "", "")
	}
	if r.codeChallenge != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "code_challenge", r.codeChallenge, "", "")
	}
	if r.codeChallengeMethod != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "code_challenge_method", r.codeChallengeMethod, "", "")
	}
	if r.nonce != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "nonce", r.nonce, "", "")
	}
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "prompt", r.prompt, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2APIPostOAuth2AuthorizeDecideRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
	submit     *string
}

// 承諾する場合は\\\&quot;approve\\\&quot;
func (r Oauth2APIPostOAuth2AuthorizeDecideRequest) Submit(submit string) Oauth2APIPostOAuth2AuthorizeDecideRequest {
	r.submit = &submit
	return r
}

func (r Oauth2APIPostOAuth2AuthorizeDecideRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostOAuth2AuthorizeDecideExecute(r)
}

/*
PostOAuth2AuthorizeDecide OAuth2 認可承諾API

OAuth2 認可承諾

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APIPostOAuth2AuthorizeDecideRequest
*/
func (a *Oauth2APIService) PostOAuth2AuthorizeDecide(ctx context.Context) Oauth2APIPostOAuth2AuthorizeDecideRequest {
	return Oauth2APIPostOAuth2AuthorizeDecideRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2APIService) PostOAuth2AuthorizeDecideExecute(r Oauth2APIPostOAuth2AuthorizeDecideRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.PostOAuth2AuthorizeDecide")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/authorize/decide"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.submit == nil {
		return nil, reportError("submit is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "submit", r.submit, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2APIPostOAuth2TokenRequest struct {
	ctx          context.Context
	ApiService   *Oauth2APIService
	grantType    *string
	code         *string
	redirectUri  *string
	clientId     *string
	codeVerifier *string
	username     *string
	password     *string
	scope        *string
	refreshToken *string
	clientSecret *string
}

func (r Oauth2APIPostOAuth2TokenRequest) GrantType(grantType string) Oauth2APIPostOAuth2TokenRequest {
	r.grantType = &grantType
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) Code(code string) Oauth2APIPostOAuth2TokenRequest {
	r.code = &code
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) RedirectUri(redirectUri string) Oauth2APIPostOAuth2TokenRequest {
	r.redirectUri = &redirectUri
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) ClientId(clientId string) Oauth2APIPostOAuth2TokenRequest {
	r.clientId = &clientId
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) CodeVerifier(codeVerifier string) Oauth2APIPostOAuth2TokenRequest {
	r.codeVerifier = &codeVerifier
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) Username(username string) Oauth2APIPostOAuth2TokenRequest {
	r.username = &username
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) Password(password string) Oauth2APIPostOAuth2TokenRequest {
	r.password = &password
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) Scope(scope string) Oauth2APIPostOAuth2TokenRequest {
	r.scope = &scope
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) RefreshToken(refreshToken string) Oauth2APIPostOAuth2TokenRequest {
	r.refreshToken = &refreshToken
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) ClientSecret(clientSecret string) Oauth2APIPostOAuth2TokenRequest {
	r.clientSecret = &clientSecret
	return r
}

func (r Oauth2APIPostOAuth2TokenRequest) Execute() (*OAuth2Token, *http.Response, error) {
	return r.ApiService.PostOAuth2TokenExecute(r)
}

/*
PostOAuth2Token OAuth2 トークンエンドポイント

OAuth2 トークンエンドポイント

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APIPostOAuth2TokenRequest
*/
func (a *Oauth2APIService) PostOAuth2Token(ctx context.Context) Oauth2APIPostOAuth2TokenRequest {
	return Oauth2APIPostOAuth2TokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OAuth2Token
func (a *Oauth2APIService) PostOAuth2TokenExecute(r Oauth2APIPostOAuth2TokenRequest) (*OAuth2Token, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OAuth2Token
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.PostOAuth2Token")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.grantType == nil {
		return localVarReturnValue, nil, reportError("grantType is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "grant_type", r.grantType, "", "")
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "code", r.code, "", "")
	}
	if r.redirectUri != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "redirect_uri", r.redirectUri, "", "")
	}
	if r.clientId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "client_id", r.clientId, "", "")
	}
	if r.codeVerifier != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "code_verifier", r.codeVerifier, "", "")
	}
	if r.username != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "username", r.username, "", "")
	}
	if r.password != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "password", r.password, "", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "scope", r.scope, "", "")
	}
	if r.refreshToken != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "refresh_token", r.refreshToken, "", "")
	}
	if r.clientSecret != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "client_secret", r.clientSecret, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type Oauth2APIRevokeClientTokensRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
	clientId   string
}

func (r Oauth2APIRevokeClientTokensRequest) Execute() (*http.Response, error) {
	return r.ApiService.RevokeClientTokensExecute(r)
}

/*
RevokeClientTokens OAuthクライアントのトークンを削除

自分が許可している指定したOAuthクライアントのアクセストークンを全てRevokeします。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param clientId OAuth2クライアントUUID
	@return Oauth2APIRevokeClientTokensRequest
*/
func (a *Oauth2APIService) RevokeClientTokens(ctx context.Context, clientId string) Oauth2APIRevokeClientTokensRequest {
	return Oauth2APIRevokeClientTokensRequest{
		ApiService: a,
		ctx:        ctx,
		clientId:   clientId,
	}
}

// Execute executes the request
func (a *Oauth2APIService) RevokeClientTokensExecute(r Oauth2APIRevokeClientTokensRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.RevokeClientTokens")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/clients/{clientId}/tokens"
	localVarPath = strings.Replace(localVarPath, "{"+"clientId"+"}", url.PathEscape(parameterValueToString(r.clientId, "clientId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2APIRevokeMyTokenRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
	tokenId    string
}

func (r Oauth2APIRevokeMyTokenRequest) Execute() (*http.Response, error) {
	return r.ApiService.RevokeMyTokenExecute(r)
}

/*
RevokeMyToken トークンの認可を取り消す

自分の指定したトークンの認可を取り消します。

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tokenId OAuth2トークンUUID
	@return Oauth2APIRevokeMyTokenRequest
*/
func (a *Oauth2APIService) RevokeMyToken(ctx context.Context, tokenId string) Oauth2APIRevokeMyTokenRequest {
	return Oauth2APIRevokeMyTokenRequest{
		ApiService: a,
		ctx:        ctx,
		tokenId:    tokenId,
	}
}

// Execute executes the request
func (a *Oauth2APIService) RevokeMyTokenExecute(r Oauth2APIRevokeMyTokenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.RevokeMyToken")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/me/tokens/{tokenId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenId"+"}", url.PathEscape(parameterValueToString(r.tokenId, "tokenId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type Oauth2APIRevokeOAuth2TokenRequest struct {
	ctx        context.Context
	ApiService *Oauth2APIService
	token      *string
}

// 無効化するOAuth2トークンまたはOAuth2リフレッシュトークン
func (r Oauth2APIRevokeOAuth2TokenRequest) Token(token string) Oauth2APIRevokeOAuth2TokenRequest {
	r.token = &token
	return r
}

func (r Oauth2APIRevokeOAuth2TokenRequest) Execute() (*http.Response, error) {
	return r.ApiService.RevokeOAuth2TokenExecute(r)
}

/*
RevokeOAuth2Token OAuth2 トークン無効化エンドポイント

OAuth2 トークン無効化エンドポイント

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return Oauth2APIRevokeOAuth2TokenRequest
*/
func (a *Oauth2APIService) RevokeOAuth2Token(ctx context.Context) Oauth2APIRevokeOAuth2TokenRequest {
	return Oauth2APIRevokeOAuth2TokenRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *Oauth2APIService) RevokeOAuth2TokenExecute(r Oauth2APIRevokeOAuth2TokenRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Oauth2APIService.RevokeOAuth2Token")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth2/revoke"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.token == nil {
		return nil, reportError("token is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "token", r.token, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
