name: CI

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  changeTimeFormat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
          cache: true
      - run: go run ./replaceTimeFormat/replaceTimeFormat.go
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - run: go mod download
      - run: go build -v ./...
